[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uiautomator2 = "*"
adbutils = "*"
pysimplegui = "*"
pyinstaller = "*"

[dev-packages]
weditor = "*"

[requires]
python_version = "3.11"
