[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
adbutils = "*"
uiautomator2 = "*"
pyinstaller = "*"

[dev-packages]
weditor = "*"

[requires]
python_version = "3.12"
